<form method="POST" action="/comparelaps">
    <input type="number" name="year" min="2018" placeholder="Enter year (2018-now)" required>
    <select name="event" required>
        {% for event in events %}
        <option value="{{ event }}">{{ event }}</option>
        {% endfor %}
    </select>
    <select name="session" required>
        <option value="FP1">FP1</option>
        <option value="FP2">FP2</option>
        <option value="FP3">FP3</option>
        <option value="Q">Q</option>
        <option value="R">R</option>
    </select>

    <select name = "driver_1" required>
      {% for driver in drivers_list %}
    <option value = "{{driver}}">{{driver}}</option>
      {% endfor %}
    </select>
    <select name = "driver_2" required>
      {% for driver in drivers_list %}
    <option value = "{{driver}}">{{driver}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Compare">
</form>
